.recipe-consist {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-template-areas:
      "hd hd hd hd";
}

.recipe-consist h3 {
    margin: auto;
    grid-area: hd;
}
