.instruction-container {
    max-width: 80%;
}
.instruction-step-image img {
    max-width: 300px;
}

.instruction-step {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.instruction-step-image {
    padding-right: 5px;
}

.instruction-step-text {
    padding-left: 5px;
}

.instruction-step-text p {
    margin: 0;
    padding: 0;
}