.loading {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.loading::after {
  content: "";
  width: 25%;
  height: 25%;
  border: 10px solid var(--bg-primary);
  border-top-color: var(--bg-secondary);
  border-radius: 50%;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}
