.recipe-page {
    display: flex;
    flex-direction: column;
}
.recipe-page-info {
    display: flex;
    flex-direction: row;
}

.recipe-page-info-left {
    flex: 1;
    padding-right: 1rem;
    margin-top: 1.5rem;
}
.recipe-page-info-left img {
    max-width: 400px;
    max-height: 400px;
}
.recipe-page-info-right {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 1rem;
}
.recipe-page-info-right h2 {
    padding-top: 0;
    margin-top: 0;
}
.recipe-page-body {
    display: flex;
    flex-direction: column;
}
.recipe-page-body h3 {
    text-align: center;
}

