.recipe-page_wrapper {
  display: flex;
  height: 100%;
}
.recipe-image-wrapper {
  min-width: 400px;
  width: 400px;
  height: 420px;
}

.recipe-image {
  min-width: 400px;
  width: 400px;
  height: 100%;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.recipe-image_border {
  min-width: 800px;
  width: 800px;
  height: 200%;
  background-image: url(../../public/border.png);
  background-repeat: no-repeat;
  background-size: contain;
  transition: 1s;
}
.recipe-image-wrapper:hover .recipe-image_border {
  transform: scale(0);
}

.recipe-info_wrapper {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.recipe-info_ingridients {
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: start;
  justify-items: start;
}

.grid-item {
  padding: 5px;
}
.add-ingr {
  margin-top: 2px;
  cursor: pointer;
}

.ingr {
  padding-left: 15px;
  border-left: 2px dashed orange;
  padding-right: 30px;
}

.ingr:last-child {
  padding-bottom: 30px;
  border-bottom-left-radius: 10px;
  border-bottom: 2px dashed orange;
}

.add-ingridients {
  position: relative;
  left: 220px;
  top: -16px;
  width: 100px;
  height: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: orange;
  border-radius: 5px;
}

/* .add-ingr {
  grid-area: plus;
}
.ingr {
  grid-area: ingr;
} */
