@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap");
/* background-color: rgb(100, 187, 155); */
/* font-family: 'Lato', sans-serif; */

:root {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  --text-primary: #0d353f;
  --text-secondary: #ececec;
  --bg-primary: rgb(242, 242, 234);
  --bg-secondary: rgb(242, 242, 242);
  --transition: 200ms ease;
}
body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.content {
  margin-top: 3rem;
  display: flex;
  background-color: var(--bg-secondary);
  min-height: calc(100vh - 3rem);
}

.main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1000px;
  /* width: 800px; */
  background-color: #f8f8f8;
}
